---
layout: default
---

<!-- about.html -->
      <div class="content">
        <div class="text-center mt-5">
          <img class="profile-img" src="assets/img/me_sqr.jpg">
        </div>
        
        <div class="col mt-4">
          <h1 class="title text-center font-weight-bold">
            Yaotian Liu <img src="assets/img/sun_devil.png" style="height: 1.2em; vertical-align: middle;">
          </h1>
          
          <div class="row mt-3 mb-3">
            <div class="col">
              <h6 class="mt-1 text-center text-sm-center" style="font-stretch: ultra-condensed;">
                PhD Student
              </h6>
            </div>
            <!-- <div class="col-sm-6">
              <h6 class="mt-1 text-left text-sm-right" style="font-stretch: ultra-condensed;">
                <a style="color: rgb(60, 72, 88);" href="http://www.ml.cmu.edu/" target="_blank">Principal Researcher</a><br/>
                <a style="color: rgb(60, 72, 88);" href="http://www.cs.cmu.edu/" target="_blank">Semantic Machines</a><br/>
                <a style="color: rgb(60, 72, 88);" href="http://www.cmu.edu/" target="_blank">Microsoft</a>
              </h6>
            </div> -->
            <!-- <div class="col-sm-6">
              <h6 class="mt-1 text-left text-sm-left" style="font-stretch: ultra-condensed;">
                Berkeley Way West, Floor 7<br/>
                1919 Shattuck Ave<br/>
                Berkeley, CA, 94704
              </h6>
            </div> -->
          </div>
        </div>
        
        <!-- Introduction -->
        
        <div class="col text-justify p-0 mb-3">
          👋 Hi! I am Yaotian Liu, a second year PhD Student in Computer Engineering at <a href="https://www.asu.edu/" target="_blank">Arizona State University </a>.
          <br><br>
          My interests include <b>computer architecture, digital circuit design, robotics, and machine learning</b>. Currently, I am focusing on efficient computing for robotics workloads and collaborating with Intel on a tapeout project. 
          <br><br>
          I enjoy learning new frameworks, languages, algorithms, and tools. I am interested in open-source projects and have contributed to several projects on GitHub. 
        </div>

          <!-- News -->
          {% if page.news -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">News</a></h2>
            {%- include news.html %}
          {%- endif %}

          <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">Publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>
              
            </div>
          {%- endif %}
        </article>

</div>
